/* IMPORTACIÓN DE FUENTES */

@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

/* ESTILOS DEL LOADER */
#carga {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: white;
    overflow: hidden;
    transition: all 0.5s linear;
}
.loader-container {
    position: relative;
    width: 60px;
    height: 60px;
    margin: auto;
    top: 50%;
}

.loader-container .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    border: solid 4px transparent;
    border-top-color: rgb(56, 57, 58);
    border-left-color: rgb(56, 57, 58);
    border-radius: 50%;
    animation: loader 1.2s linear infinite;
}

.loader-container .loader2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    border: solid 4px transparent;
    border-top-color: rgb(160, 146, 75);
    border-left-color: rgb(160, 146, 75);
    border-radius: 50%;
    animation: loader2 1.2s linear infinite;
}

@keyframes loader {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes loader2 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

/* ESTILOS DE AVISO DE COOKIES */

#cajacookies {
    display: none;
    box-shadow: 0px 0px 5px 5px #808080;
    background-color: white;
    color: black;
    padding-top: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 17px;
    text-align: center;
}
  
  #cajacookies button {
    color: black;
    font-size: 15px;
    background-color: bisque;
    font-weight: bold;
    margin: 1% 0;
    padding: 0.45%;
}

/* ESTILOS GENERALES */

* {
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    font-family: 'Neucha', cursive;
    
}

/* ESTILOS ADAPTATIVOS */

@media only screen and (max-width:768px) {

    * {
        float: inherit !important;
      }

    #cajacookies button {
        padding: 3%;
      }  
      
    div.elproyecto {
        width: 100% !important;
    }

    div.elproyecto img {
        margin: 0 auto !important;
        width: 100% !important;
    }
    
    div.lineaInfoYac img {
        width: 100%;
        padding: 2% 0;
    }
    
    body {
        width: fit-content;
    }

    div.menu {
        display: none;
    }
    
    nav {
        display: block !important;
    }
    
    .checkbtn{
        display: block !important;
    }
    
    nav ul{
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 100vh;
        background: rgb(56, 57, 58);
        top: 0;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    
    nav ul li{
        display: block !important;
        margin: 50px 0;
        line-height: 30px;
    }
    
    nav ul li a{
        font-size: 20px;
    }

    #check:checked ~ ul{
        left:0;
    }
    
    div.pie {
        height: 300px !important;
    }

    div.info {
        width: 100% !important;
        
    }

    div.redes, div.desarrollo {
        float: inherit !important;
        width: 100% !important;
    }

    div.desarrollo {
        padding-top: 20px;
    }

    p.infoyacimiento {
        font-size: 2.5vh !important;
    }
}

body {
    height: 100%;
}

/* ESTILOS DE LA CABECERA */

div.cabecera, div.menu {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

div.logo {
    width: 100%;
    margin: 30px 0 40px;
    text-align: center;
}

div.logo img {
    width: 200px;
}

/* ESTILOS DEL MENU */

div.menu {
    margin-bottom: 40px;
}

div.menu label.checkbtn p {
    margin-top: 17px;
    font-size: 20px;
    text-align: center;
}

#check {
    display: none;
}

div.menu ul {
    text-align: center;
}

div.menu ul li {
    display: inline-block;
    list-style: none;
}

div.menu ul li a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(86, 86, 73);
    position: relative;
    padding: 10px 25px;
}

div.menu ul li a:after {
    content: "";
    width: 0;
    height: 4px;
    background-color: rgb(160, 146, 75);
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all .5s;
    will-change: width;
}

div.menu ul li a:hover:after {
    width: 100%;
    right: 0;
    float: left;
}

/* ESTILOS DE LA IMAGEN DE PORTADA */

div.portada {
    width: 100%;
}

div.portada img {
    width: 100%;
    max-height: 600px;
    display: flex;
}

/* ESTILOS GENERALES MENU RESPONSIVE */

nav {
    background: rgb(56, 57, 58);
    height: 80px;
    width: 100%;
    display: none;
}

.enlace{
    position: absolute;
    padding: 20px 50px;
}
nav ul{
    margin-right: 20px;
    margin-top: 80px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none;
}
.checkbtn p {
    text-align: center;
}
#check{
    display: none;
}

.slide img {
    width: 100% !important;
    height: 100%;
    border-radius: 6px;
}

.container-all {
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    z-index: 0;
}

.slide {
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagination {
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover {
    transform: scale(2);
}

.pagination-item img {
    display: inline-block;
    max-width: none;
    width: 16px;
    height: 16px;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover img {
    opacity: 1;
    transform: scale(1);
}

input[id="1"]:checked ~ .slide {
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: #fff;
}

input[id="2"]:checked ~ .slide {
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background: #fff;
}

input[id="3"]:checked ~ .slide {
    animation: none;
    transform: translate3d(calc(-200% * 1), 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: #fff;
}

input[id="4"]:checked ~ .slide {
    animation: none;
    transform: translate3d(calc(-300% * 1), 0, 0);
}

input[id="4"]:checked ~ .pagination .pagination-item[for="4"]{
    background: #fff;
}

input[id="5"]:checked ~ .slide {
    animation: none;
    transform: translate3d(calc(-400% * 1), 0, 0);
}

input[id="5"]:checked ~ .pagination .pagination-item[for="5"]{
    background: #fff;
}

input[id="6"]:checked ~ .slide {
    animation: none;
    transform: translate3d(calc(-500% * 1), 0, 0);
}

input[id="6"]:checked ~ .pagination .pagination-item[for="6"]{
    background: #fff;
}

/* ESTILOS DE LA CAPA CONTENIDO */

div.contenido {
    margin: 0 auto;
    width: 100%;
    background-color: whitesmoke;

}

div.contenido h2.ub {
    text-align: center;
    padding: 8px 0;
    background-color: rgb(191, 191, 144);
    color: white;
    font-weight: normal;
}


/* ESTILOS DE NOVEDADES */

div.novedades {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    padding-bottom: 40px;
}

div.novedad h1 {
    padding: 40px 0;
    text-align: center;
}

div.novedades p {
    padding: 5px 0;
    text-align: justify;
    font-size: 17px;
    font-weight: 200;
}

/* ESTILOS "YACIMIENTOS" */

div.yacimientos {
    text-align: center;
    width: 100%;
    padding: 60px 0;
}

div.municipio, div.yacimiento {
    display: inline-block;
    margin: 8px 4px;
    width: 285px;
    transition: transform .2s;
}

div.municipio img, div.yacimiento img {
    width: 285px;
    height: 370px;
}

div.municipio div.descripcion, div.yacimiento div.descripcion {
    text-align: center;
    font-size: 30px;
    background-color: white;
}

div.descripcion p {
    padding: 10px 0;
    color: #f0a951;
}
div.municipio:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 7px;
}
div.yacimiento:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 7px;
}

/* ESTILOS "YACIMIENTO" */

.yacimientoinfo {
    width: 100%;
    display: inline-block;
}

div.descripyacimiento {
    text-align: center;
    width: 90%;
    height: 100%;
    padding: 60px 0;
    margin: 0 auto;
    line-height: 25px;
}

.lineaInfoYac {
    float: left;
    margin-bottom: 5%;
}

p.tituloyacimiento, p.eleccion {
    text-align: center;
    padding-bottom: 40px;
    font-size: 6vh;
    line-height: normal;
}

p.infoyacimiento {
    font-size: 4vh;
    text-align: justify;
    padding: 0 2%;
}

.yacimientoIzq {
    max-width: 100vh;
    float: left;
    padding: 0 2% 2% 0;
}

.yacimientoDer {
    max-width: 100vh;
    float: right;
    padding: 0 0 2% 2%;
}

div.enlaces {
    width: 100%;
    height: auto;
}

p.advertencia {
    margin: 1%;
    border: #f0a951 2px solid;
    text-align: center;
    font-weight: bold;
    padding: 0.5% 5%;
}

a.enlaceyacimiento {
    display: inline-flex;
    margin: 1%;
    border: #f0a951 2px solid;
    text-align: center;
    padding: 0.5% 5%;
}

.horarios-lista {
    list-style: none;
    padding: 0;
}

.horarios-lista li {
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

.horarios-lista li span {
    font-weight: bold;
    color: #f0a951;
}

.yacimientoinfo iframe {
    width: 100% !important;
}

/* ESTILOS DE LA GALERIA */

div.galeria {
    width: -webkit-fill-available;
    padding: 3% 1%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 240px;
    grid-gap: 15px;
}

div.galeria > a {
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

div.galeria_item {
    position: relative;
}

img.galeria_foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
    cursor: pointer;
}

img.galeria_foto:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 7px;
}

/*ESTILOS "SOBRE EL PROYECTO" */

div.elproyecto {
    margin: 0 auto;
    width: 1000px;
    height: 100%;
    padding-bottom: 40px;
}

div.elproyecto-contenido {
    margin: 0 0 3% 0;
    height: auto;
}

div.elproyecto h1, div.novedad h1 {
    padding: 40px 0;
    text-align: center;
}

div.elproyecto p {
    padding: 5px 0;
    text-align: justify;
    font-size: 17px;
}

/* ESTILOS DEL PIE */

div.pie {
    width: 100%;
    height: 230px;
    background-color: rgb(56, 57, 58);
}

div.info {
    width: 1000px;
    color: white;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}

div.info h2 {
    padding-bottom: 10px;
}

div.info a, div.info p {
    color:white;
    padding-top: 10px;
}

div.info div.redes {
    float: left;
    width: 500px;
}

div.info div.desarrollo {
    float: right;
    width: 500px;
}

